<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="menu:help?after=helpEnd">
			<command commandId="org.eclipse.cbi.versionchecker.ui.commands.VCCommand" label="Version Checker...">
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command id="org.eclipse.cbi.versionchecker.ui.commands.VCCommand" name="VCCommand" defaultHandler="org.eclipse.cbi.versionchecker.ui.handlers.VCCommandHandler" />
	</extension>
</plugin>
